@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.wayback {
  @apply rounded-full border border-solid border-black/[.08] dark:border-white/[.145]
         transition-colors flex items-center justify-center hover:bg-[#f2f2f2] dark:hover:bg-[#69695e] 
         hover:border-transparent font-medium text-sm sm:text-base h-10 sm:h-12 px-4 sm:px-5 w-full sm:w-auto md:w-[158px]
}

.box {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {

}
*/
.row:after {
  clear: both;
  content: '';
  display: table;
}

body {
  margin: 20px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
} 
